  <%= @club.name %><br />
  <%= @club.manufacturer %> <br />
  Bag: <a href="/bags/<%=@club.golf_bag.id%>"><%= @club.golf_bag.name %></a> <br />
  <a href="/clubs/<%=@club.id%>/edit">Edit</a>
  <br />
  <br />
